.log
*.txt
**/__pycache__
*.csv
*.json
*.vot
*.done
**/dask-worker-space
**/.ipynb_checkpoints
analisis/phoebe_model/bundle-saves
analisis/phoebe_model/*/graphs
analisis/phoebe_model/*/*external-jobs
analisis/phoebe_model/*/*external-compute
analisis/phoebe_model/*/*bundle-saves
analisis/phoebe_model/external-jobs